
@import "tailwindcss";

:root {
  --background: #fff9ec;
  --foreground: #171717;
  --primary: #FFC600;
  --secondary: #FFC60030;

}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype'),
       url('/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}